.img-family {
  background-image: url(assets/img/family.png);
  background-repeat: no-repeat;
  height: 400px;
}

.family {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-frank);
  /* temp */
  background-color: rgb(135, 206, 250, 0.34);
}

.we-got-you-h1 {
  font-family: var(--font-family-frank);
  /* kolla så att du har lagt in font weigt i linken */
  font-weight: 900;
}

.family-text {
  font-family: var(--font-family-frank);
  font-size: large;
  font-weight: 500;
  opacity: 90%;
  margin-bottom: 3.2rem;
}

.price-per-day {
  font-family: var(--font-family-frank);
  color: #ffffff;
}

.join-now-button {
  font-family: var(--font-family-frank);
  border-radius: 20px;
  font-size: 1rem;
  width: 8.75rem;
  height: 2.6rem;
}
