.what-do-we-offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 22rem;
  /* hitta rätt färg */
  background-color: rgb(255, 68, 0);
  font-family: var(--font-family-frank);
}

.what-do-we-offer-text {
  opacity: 90%;
  font-size: small;
  font-weight: 500;
  margin-bottom: 1rem;
}

.learn-more-text {
  color: whitesmoke;
  font-weight: 700;
  font-size: xx-large;
}
