.blocks {
  color: grey;
  font-family: var(--font-family-frank);
  font-size: large;
}

.block-one-text {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
  color: black;
}

.block-two-text {
  text-align: center;
}

.block-two {
  background-color: rgb(206, 197, 197);
}
