.your-personal {
  background-color: burlywood;
}

.profile-segment {
  background-color: white;
}

.profile-picture {
  background-color: blue;
  height: 5rem;
  width: 5rem;
}

.cards {
  background-color: white;
}
